

ul {
	list-style-type: none;
	margin: auto;
}
a {	
	float: left;
	text-decoration: none;
	text-align: center;
	padding-right: 10px;	
	padding-left: 10px;	
	color: white;
	border-bottom: 1px solid transparent;
}
img {
	margin: auto;
	/*margin: 50px 50px 50px 50px;*/
}

.top_nav a {
	font-size: 20px;
	color: #ffd166;
}

.top_nav a:hover {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.top_nav {
	padding: 10px 0px 10px 10px;
	overflow: hidden;
	font-family: Arial;
	border-bottom: 0.5px solid white;
	background-color: #333333;
}

.content {
	float: left;
	background-color: #333333;/*#383838;/*#f4d8cd;*/
	text-align: center;
	width: 100%;
	color: white;
}
.content img {
	float: right;
}

