

img {
	margin: auto;
	/*margin: 50px 50px 50px 50px;*/
}

.top_nav {
	padding: 10px 0px 10px 10px;
	font-family: Arial;
	overflow: auto;
	border-bottom: 1px solid white;
	background-color: #333333;
	list-style: none;
	margin: 0 auto;
	text-align: center;

}

.top_nav li {
	display: inline;
}

.top_nav a {
	width: 100;
	font-size: 20px;
	text-align: center;
	padding-right: 10px;	
	padding-left: 10px;	
	text-decoration: none;
	color: #ffd166;
}

.top_nav a:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	color: white;
}

.content {
	float: left;
	background-color: #333333;/*#383838;/*#f4d8cd;*/
	text-align: center;
	width: 100%;
	color: white;
}
.content img {
	float: right;
}

