html {
  font-size: 40px;
}

@media (max-width: 1366px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 1025px) {
  html {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 32px;
  }
}

h3 {
	text-align: center;
}


.divider {
	background-color: black;
}

.navbar-default .navbar-brand {
	/*font-size: 1.7em;*/
}

.navbar-nav > li > a {
	/*font-size: 1.7em;*/
}
button .icon-bar {
	background-color: #888;
}

@media (max-width: 400px) {
	.name {
		color: white;
	}
}

.wallpaper {
	background-size: cover;	
	background-image: url("../images/wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: center;
	background-position: center;
	text-align: center;	
	-webkit-transition: 0.7s ease;
	-ms-transition: 0.7s ease;
	transition: 0.7s ease;
	
	
	
}

@media (max-width: 450px) {
	.wallpaper {
		background-position: right 35% bottom 0px;
	}
}

@media (max-width: 350px) {
	.wallpaper {
		background-position: right 30% bottom 0px;
	}
}

/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients*/

@media (max-width: 400px) {
	.gradient {

		/*The old syntax, deprecated and prefixed, for old browsers*/
		background-image: -moz-linear-gradient(hsla(0, 0%, 100%, 0.3),  #fff), url("../images/wallpaper.jpg");
		background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0.3), #fff), url("../images/wallpaper.jpg");

		/*The new syntax needed by standard-compliant browsers (Opera 12.1,
		 IE 10, Firefox 16, Chrome 26, Safari 6.1), without prefix*/
		background-image: linear-gradient(hsla(0, 0%, 100%, 0.3), #fff), url("../images/wallpaper.jpg");
	}	
}
/* #home h1 h4 h2 {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
 */


.welcome {
	padding-top: 40%;
	padding-bottom:40%;
	align-items: center;
	justify-content: center;
	font-family: Arial;
	font-weight: bold;
	color: black;
}

@media (max-width: 400px) {
	.welcome {
	padding-bottom:20%;
	}
}

.welcome h1 {
	font-size: 6em;
}

.welcome p {
	font-size: 3em;
}

.welcome h2 {
	font-size: 4em;
}

.sites li a {
	margin-bottom: 20px;
}

.aboutme {
	padding-top: 3%;
}

.aboutme h1, p {
	background-size:cover;
	width: 100%;
}

.project-center {
	text-align: center;
}

.button {
	color: white;
	background-color: black;
	
}

.caption {
	text-align: center;
}
.name {
	text-align: center;
	color: white;
}

.project-intro {
	font-size: 2em;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

.profile-img {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.my-ul li {
	font-size: 18px;
	text-align: center;
	list-style-type: none;
	display: block;
}

/* .centered {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
} */

.jumbotron {
	/*background-image: url("../images/white-wall.png");*/
	background-color: transparent;
}

.my-photo {
	border-radius: 50%;
	display: block;
	margin: auto;
}

.ih-item.square {
	width: 100%;
	height: 100%;
	
}

.effect-wrapper h3 p button {
	font-family: Arial;
	font-style: none;
}

/* .overlay {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: 0.7s ease;
	transition: 0.7s ease;
	-moz-transition: 0.7 ease;
}

.overlay:hover {
	opacity: 1;
}

.thumbnail:hover img {
	-webkit-transform: scale(0.9, 0.9);
} */




/* .casual-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;	
}
 */
/*when hovered, the bottom of the image is 0px away from the parent container, flip. 
The height increases to 100%*/
/* .flip:hover .casual-overlay{	

	bottom: 0;
	height: 100%;	
}*/
/* From tutorial https://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/*/
/*and website https://tympanus.net/Tutorials/OriginalHoverEffects/ */
/* .view-first img {
	-webkit-transition: 0.2s linear;
   -moz-transition: 0.2s linear;
   -o-transition:  0.2s linear;
   -moz-transition:  0.2s linear;
   transition:  0.2s linear;
}
.view-first .mask {
	text-align: center;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(255,255,255, 0.9);
   -webkit-transition:  0.4s ease-in-out;
   -moz-transition:  0.4s ease-in-out;
   -o-transition:  0.4s ease-in-out;
   -ms-transition:  0.4s ease-in-out;
   transition:  0.4s ease-in-out;
}
.view-first h3 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition:  0.2s ease-in-out;
   -moz-transition:  0.2s ease-in-out;
   -o-transition:  0.2s ease-in-out;
   -ms-transition:  0.2s ease-in-out;
   transition:  0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: 0.2s linear;
   -moz-transition:  0.2s linear;
   -o-transition:  0.2s linear;
   -ms-transition:  0.2s linear;
   transition:  0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition:  0.2s ease-in-out;
   -moz-transition:  0.2s ease-in-out;
   -o-transition:  0.2s ease-in-out;
   -ms-transition:  0.2s ease-in-out;
   transition:  0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h3,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

.view {
	overflow: hidden;
}

.view .mask {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
}

.view a.info {
	font-size: 15px;
   display: inline-block;
   text-decoration: none;
   padding: 5px 10px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.view h3 {
	color: white;
	display: inline-block;
   text-transform: uppercase;
   text-align: center;
   position: relative;
   font-size: 15px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-size: 22px;
   position: relative;
   padding: 10px 10px 20px;
   text-align: center;
} */ */
	